:root{
  --geel:#fdc623;
    --secundair: #323232;
}

@font-face{
  font-family: 'Neo Sans Bold';
  src: url('fonts/neo_sans_bold.ttf');
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #292929;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body{
  background-color: #121212;
}

#app{
  background-color: #121212;
  width: 100vw;
  color: whitesmoke;
}

.nav{
  background-color: var(--secundair);
  position: fixed;
  bottom: 10px;
  left: 15px;
  right: 15px;
  border-radius: 5px;
  height: 50px;
  display: inline-block;
  text-align: center;
  z-index: 10;
}

.bottom-nav-icons{
  margin-top: 17px;
}

a{
  color: white;
  font-size: 20px;
}

a:hover{
  color: var(--geel);
}

a.active{
  color: var(--geel) !important;
}

.PlaylistCard{
  background-color: #3C3C3C;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.PlaylistCover{
  width: 60px;
  border-radius: 5px; 
}

p{
  margin: 0 !important;
}

a svg, li svg{
  margin-right: 10px;
}

.StartBtn{
  background-color: var(--geel);
  z-index: 9;
  position: fixed;
  bottom: 70px;
  left: 15px;
  right: 15px;
  text-align: center;
  border-radius: 5px;
  height: 50px;
  
}

.StartBtn h3{
  margin-top: 10px;
  font-size: 20px;
  color: var(--secundair);
  font-family: 'Neo Sans Bold';
}

h6{
  font-family: 'Neo Sans Bold';
}